*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: block;
    background-color: black;    
}

/* <--   main section starts -->*/

.main-content {
    min-height: 1000px;
    width: 90%;
    background-color: grey;
    margin: 20px auto;
    display: grid;

    /* grid-template-rows: 20% 80%; */
    
    grid-template-columns: 300px 700px;
}

/* <-- main section ends -->*/

 /* <-- left section stars --> */

.left-section{
    /* grid-area: 1/1/3/2; */
    grid-column: span 1;
    color: #000000;
    background-color: #dd80f0;
}

.left-content{
    padding: 1rem;
}
.profile-image{
    padding: 1rem;
    display: block;
    text-align: center;
    margin: auto;
}

img{
    border: 5px white solid;
    border-radius: 30%;
    width: 60%;
} 

/* .profile-image{
    display: block;
    margin: auto;
    width: 60%;
    border: 5px solid white;
    border-radius: 30%;
} */

.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    /* color: blue; */
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    font-weight: 700;
    /* color: #fff; */
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}
.icon{
    color:rgb(64, 25, 204);
}
.icon:hover{
    cursor: pointer;
    color:rgb(234, 245, 76);
}

span{
    color:black;
    /* font-weight: bold; */
    font-style: italic;
}

li{
    margin-top: 10px;
}
.skills-title{
    font-size : 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    color: #fff;
}

/* below is extra */
.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    color: #fff;
}

/* .skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
} */

.skill-name {
    font-size: 0.65rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0.5rem;
    color: #fff;
    text-transform: uppercase;
}

/* .progress-bar{
    border: 1px white solid;
    height: 4px;
} */

.progress-bar {
    border: 1px solid white;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

/* .skill-progress{
    margin-top: 0px;
} */
.skill-progress {
    margin-bottom: 10px;
}


/* <-- left section ends --> */

.right-section {
    /* grid-area: 1/2/3/3; */
    grid-column: span 1/ span 2;
    /* background-color: white; */

    background-color: #c2e28e;
    color: #000000;
}

.right-main-content {
    padding: 2rem 3rem;

    /*extra properties add 
        remove in failure */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */

}

.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.para{ 
    text-align: justify;
    padding: 0.5rem;
} 

.uni-or-firm{
    display: block;
    width: 20%;
    padding: 0.5rem;
    font-weight: bold; 

}
#year{
    font-size: 12px;
}

.social-media{
    z-index: 100;
}

.title-dec{
    padding: 0.5rem;
    color: green;
    text-decoration:underline;
}
.item{
    display: block;
    width: 65%;
}
.edu-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.exp-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pro-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#project{
    font-weight: bold;
    font-style: italic;
    color: rgb(238, 29, 238);
}

@media screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .right-section {
        grid-area: auto;
    }
}
