*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: block;
    background-color: black;
    
}
.main-content{
    min-height: 1000px;
    width: 90%;
    background-color: grey;
    margin: 20px auto;
    display:grid;
    grid-template-columns: 300px 700px;
    grid-template-rows: 1000px;
    padding: 20px 60px;
    
    /* justify-items: center; */

}
section{
    display: block;
}
.left-section{
    grid-column: span 1;
    color: #000000;
    background-color: #dd80f0;
}
.right-section{
    grid-column: span 1/ span 2;
    color: #000000;
    background-color: #c2e28e;
}

.left-content{
    padding: 1rem;
}
.profile-image{
    padding: 1rem;
    display: block;
    text-align: center;
    margin: auto;
    
}
img{
    border: 5px white solid;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    /* color: white; */
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-media{
    /* display: flex; */
    /* justify-content: space-around; */
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}
li{
    margin-top: 10px;

}

.skills-title{
    /* font-size: 0.75rem; */
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px white solid;
    height: 4px;

}
/* 
list item and there progress report ko gap ko khatm karo
 */








